<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>moxing</title>
    <style type="text/css">
        body {font-size: 35px;  background: #ebebeb url('');padding-bottom: 30px;margin: 0;}
        .navbar { min-height: 50px;background: #0697c7; color: #fff; padding: 20px; font-size: 55px; }
        .content {padding:20px;}
        
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/" style="color: #fff">moxing</a>
    </div>
    <div class="content">
    <div class="list">

        <h3><a href="/page?fid=40" >亚洲无码</a></h3>
        <h3><a href="/page?fid=41" >亚洲有码</a></h3>
        <h3><a href="/page?fid=43" >国产自拍</a></h3>
        <h3><a href="/page?fid=44" >动漫/二次元</a></h3>
        <h3><a href="/page?fid=45" >欧美</a></h3>
        <h3><a href="/page?fid=46" >直播视频</a></h3>
        <h3><a href="/page?fid=47" >套图</a></h3>
    </div>
    


</body>
<script src="https://cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>

</html>
